<section id="portfolio">
    <div class="container">
        <div class="col-12 col-md-10 offset-md-1">
            {{#if portfolio.projects}}
            <h2>Portfolio</h2>
            <article>{{{portfolio.introduction}}}</article>
            <h3 class="slider-title">Battle Medialab Client Work</h3>
            <article class="slider-article bml-projects-slider">
                <p class="mobile-slider-instructions d-block d-sm-block d-md-none">Swipe to see more projects</p>
                <i class="fas fa-chevron-circle-left fa-2x d-none d-lg-block"></i>
                <i class="fas fa-chevron-circle-right fa-2x d-none d-lg-block"></i>
                <div class="portfolio-slider bml-projects">
                    {{#each portfolio.projects}}
                    {{#with this}}
                    {{#eq type "Battle Medialab"}}
                    <div>
                        <h3>{{title}}</h3>
                        <ul>
                            {{#each bullets}}
                            <li>{{this.bullet}}</li>
                            {{/each}}
                        </ul>
                        <a href="{{url}}" target="_blank"
                            class="standardBtn widerBtn project-link">{{text}}</a>
                    </div>
                    {{/eq}}
                    {{/with}}
                    {{/each}}
                </div>
            </article>

            <h3 class="slider-title">Web Application Projects</h3>
            <article class="slider-article app-projects-slider">
                <p class="mobile-slider-instructions d-block d-md-none">Swipe to see more projects</p>
                <i class="fas fa-chevron-circle-left fa-2x d-none d-lg-block"></i>
                <i class="fas fa-chevron-circle-right fa-2x d-none d-lg-block"></i>
                <div class="portfolio-slider app-projects">
                    {{#each portfolio.projects}}
                    {{#with this}}
                    {{#eq type "App"}}
                    <div>
                        <h3>{{title}}</h3>
                        <ul>
                            {{#each bullets}}
                            <li>{{this.bullet}}</li>
                            {{/each}}
                        </ul>
                        <a href="{{url}}" target="_blank"
                            class="standardBtn widerBtn project-link">{{text}}</a>
                    </div>
                    {{/eq}}
                    {{/with}}
                    {{/each}}
                </div>
            </article>
            {{/if}}
        </div>
    </div>
</section>